.blogsItem {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  margin: 15px;
  list-style: none;
}

.blogItemLink {
  color: #000000;
  text-decoration: none;
}
.blogItemContainer {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.blogItemImage {
  width: 100%;
  border: 1px solid transparent;
  border-radius: 5px;
  height: 170px;
}
.blogItemInfo {
  font-family: 'Roboto';
  width: 100%;
}
.blogItemTopic {
  color: #8e8e8e;
  font-size: 14px;
}
.blogItemTitle {
  font-size: 18px;
  font-weight: 400;
}
.authorInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.authorName {
  color: #8e8e8e;
  font-size: 14px;
}
.avatar {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  border-radius: 50%;
}
@media screen and (min-width: 575px) {
  .blogItemContainer {
    flex-direction: row;
    max-width: 660px;
    height: 170px;
    margin: 15px;
  }
  .blogItemImage {
    width: 40%;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-right: 15px;
  }
  .blogItemInfo {
    width: 60%;
  }
}
